aiohttp>=3.8
altair
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
frozenlist
gitpython
greenlet
httpcore
httpx
httpx-sse
idna
jinja2
jsonpatch
jsonpointer
jsonschema
langchain>=0.1.10
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchainhub
langsmith
markdown-it-py
markupsafe
marshmallow
mdurl
multidict
numpy>=1.24
openai
orjson
packaging
pandas
pillow
pinecone
pluggy
protobuf
pyarrow
pydantic>=2.0
pydantic-settings
pydeck
pygments
pypdf
pytest
pytest-asyncio
python-dateutil
python-dotenv
pytz
pyyaml
referencing
regex
requests
requests-toolbelt
rich
rpds-py
six
smmap
sqlalchemy
streamlit
tenacity
tiktoken
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
zstandard
